{% extends 'app/base.html' %}

{% block title %} Autenticação {% endblock %}

{% block content %}

    <form method="post">
        {% csrf_token %}

        <table>
            {{ login_form.as_table }}
        </table>

        <input type="submit" value="Entrar" class="btn btn-primary">
    </form>

    <div>
         {% if messages %}
            {% for message in messages %}

                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>

            {% endfor %}
        {% endif %}
    </div>


{% endblock %}